frontend http_front
    bind *:8080
    mode http
    timeout client 10s
    use_backend all

backend all
    mode http
    server s1 flaskapp1:1111
    server s2 flaskapp2:2222
    server s3 flaskapp3:3333

